.wrapper {
    position: relative;
}

.filterWrapper {
    position: absolute;
    left: 0px;
    bottom: 0;
    top: 50px;
    width: 248px;
    height: 305px;

    /* div::-webkit-scrollbar {
        width: 1px;
        color: #ffffff;
    } */
}

.filterButton {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
    margin-right: 10px;
    position: relative;
    /* &:focus {
        color: #B672FF;
        border-color: #9A48F1;
    } */

    /* &:not(:last-child) {} */
}


.btnText:hover {
    border-color: #d9b6ff;
    color: #d9b6ff;
    cursor: pointer;
}

.btnText:focus {
    border-color: #ad61ff;
    color: #ad61ff;
    cursor: pointer;
}


.dropDownList {
    background: #313131;
    min-width: 248px;
    height: 305px;
    overflow: scroll;

    scrollbar-color: #ffff;
    scrollbar-width: 5px;
    top: 288px;
    left: 386px;
    padding: 34px;
    border-radius: 12px;
    opacity: 0px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.dropDownListItem {


    &:hover {
        color: #d9b6ff;
        transition: all 0.3s;
    }

    &:focus {
        color: #ad61ff;
        text-decoration-line: underline;

    }
}

.selectedFilters {
    position: absolute;
    color: #ffffff;
    background-color: #9A48F1;
    top: -8px;
    right: -5px;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    padding: 10px;
}

.active {
    color: #B672FF;
    border: 1px solid #9A48F1;
}